h1{
    text-align: center;
    font-family: Arial, serif;
}

h4{
    text-align: center;
    font-family: Arial, serif;
}

body{
    background-image: url("images/clouds.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: Arial, serif;
}