/*styling page piling*/
#section1{
    background-image: url("../images/london.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#section2{
    background-image: url("../images/madrid.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#section3{
    background-image: url("../images/shamrock.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.section{
    text-align: center;
    font-size: 50px;
    color: white;
}